NODE_ENV=development # development | production | staging  

PORT=5000

API_URL=http://localhost:5000  
FRONT_URL=http://localhost:3000  

# Database Configuration
MYSQL_USER=root  
MYSQL_PASSWORD=yourpassword  
MYSQL_HOST=localhost  
MYSQL_PORT=3306  
DB_NAME=mcx_db  

SECRET_KEY=your_jwt_secret  

# Seeding (true/false)  
SEED=true

# SMTP Configuration
SMTP_SERVICE=gmail  
SMTP_HOST=smtp.gmail.com  
SMTP_PORT=587  
SMTP_SECURE=false  
SMTP_EMAIL=your_email@gmail.com  
SMTP_PASSWORD=your_app_password  
SMTP_RECEIVER_EMAIL=receiver_email@gmail.com  